<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.dubbobill.dao.BillMapper">
    <update id="killgoods">
        update bill set money=money-#{goodsPrice} where id=#{id} and money>=#{goodsPrice}
    </update>
    <update id="addmoney">
        update bill set money=money+#{money} where id=#{id}
    </update>
</mapper>